
:root{
--font-family: inherit;
--accent-color:#404bbf;
--black-logo-titl:#2E2F42;
--icon-color:#f4f4fd;
--svg-icon-logo:#8e8f99;
--transition-duration-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
--texh-decoration-small: #8e8f99;
--checkbox-decoration: #ffffff;
--checkbox-link-text-color: #4d5ae5;
}


body{
   font-family: 'Roboto', sans-serif;
     background-color: #FFFFFF;
    color: #434455;
    margin: 0;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    padding-inline-start:0px;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: #2E2F42;
}
img {
    display: block;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.black-logo {
    color: var(--black-logo-titl);
}

button {
    cursor: pointer;
}
.container{
    padding-left: 16px;
    padding-right: 16px;
   max-width: 100%;
    margin-left: auto;
        margin-right: auto;
   
}
.mobile-menu-close-btn{
    display: none;
}
/*======================================= mEDIA */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .box {
        background-image: url('photo@2x.png');
    }
}


@media screen and (max-width: 1200px){
.foorer-box-social{

    display: flex;
        flex-wrap: wrap;
        max-width: 584px;
        gap: 72px 24px;
        flex-direction: unset;
        justify-content: left;
}
    .svg-costomers-icon{
        flex-basis: calc((100% - 120px) / 6);
            height: 88px;
            width: 104px;
            
    }

    .svg-customers-list{
        justify-content: center;
    }
    .svg-costomers-icon{
        flex-basis: calc((100% - 24px) / 4);
            height: 88px;
    }
    .header-email-add{
        padding-bottom: 12px;
    }
   .page-header-conteiner{
    padding-top: 12px;
        padding-bottom: 12px;
   }
   .address-contact {
       padding-left: 120px;
   }
   
                   /* ==========================MAINE================================== */
.competencies-conainer {
    visibility: hidden;
    overflow: scroll;
    pointer-events: none;
    position: absolute;
    
    
}
.people-list{
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        background-color: var(--checkbox-decoration)
}
    
    .paragraph-comp{
        display: flex;
            justify-content: center;
            align-items: center;
    }
.competencies-bloc{
    width: 100%;
}
.competencies-list{
    gap: 72px;
}
.skils-box{
    display: none;
}
}
@media screen and (max-width: 767px){

    .footer-btn{
        margin-top: 16px;
    }
.form-footer-email {
        width: 100%;
        margin-bottom: 16px;
    }

.form-footer-container {
        display: flex;
        column-gap: 24px;
        align-content: stretch;
        flex-direction: column;
    }

    .box-footer-contacts {
            text-align: center;
            width: 100%;
        }
    .box-footer-contacts {
            text-align: center;
            width: 100%;
        }
.foorer-box-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
.people-list{

    flex-basis: calc((100% - 24px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

   
.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        padding: 80px 35px 40px 40px;
        visibility: hidden;
        overflow: scroll;
        pointer-events: none;
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.header-conteiner{

}

    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;

    }
    

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: rgba(231, 233, 252, 0.1);
        border: 1px solid rgba(46, 47, 66, 0.1);
        fill: #2E2F42;
        border-radius: 50%;
        transition: background-color var(--transition-duration-and-func);

    }

    .mobile-manu-contact {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .mobile-menu-wrapper {
        display: flex;
        flex-direction: column;
    }

    .mobile-manu-list-title-nav {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;

    }

    .mobile-manu-list-tel {
        margin-bottom: 40px;


    }

    .mobile-manu-list-item {
        color: #404BBF;
    }

    .mobile-manu-tel {
        font-weight: 700;
        
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--accent-color);
    }

    .mobile-social-list {
        display: flex;
        justify-content: space-between;
    }

    .mobile-manu-list-email {
        margin-bottom: 48px;
    }

    .mobile-manu-email {
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .mobile-social-list-link {
        color: var(--accent-color);
    }

    .mobile-social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color var(--transition-duration-and-funk);
    }
        .mobile-menu-open-btn {
            border: none;
            background-color: transparent;
            fill: var(--black-logo-titl);
            line-height: 0;
            padding: 0;
    
        }

/* ==========================MAINE================================== */

                .main-title {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    max-height: 80px;
                    max-width: 320px;
                    text-align: center;
                    color: var(--icon-color)
                }

                .competencies-list{
                    flex-direction:column;
                }
                                /* ==========------>checbox<----=========== */

.svg-costomers-icon {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}
.people-img{
    flex-wrap: wrap;
        display: flex;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
        flex-wrap: wrap;
            
}

}
@media screen and (max-width: 427px){
    .menu-header-navigatione {
        display: none;
    }
    .emeil-tel{
        display: none;
    }
           .modal {max-width: 100%;
           }
           .container-label-icon{
            max-width: 100%;
           }
                   

/* ==========================MAINE================================== */



}


@media screen and (min-width: 428px) {
    .container {
        width: 428px;
        width: 100%;
    }
        .menu-header-navigatione {
            display: none;
        }
                .emeil-tel {
                    display: none;
                }
                .competencies-bloc {
                    flex-basis: calc((100% - 3 * 24px) / 1);
                }
                


/* ==========================MAINE================================== */
.paragraph-comp{
    font-weight: 500;
}

}
   @media screen and (min-width: 768px) {


    .footer-btn {
            margin-top: 0;
        }
    .form-footer-container{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    

.footer-container-titl{
    width: 240px;
}
.container{
    width: 768px;
    width: 100%;
    
}

.box-footer-contacts{
    display: flex;
    flex-direction: column;
}
.footer-container-titl{
    justify-content: left;
}
.foorer-box {
    flex-direction: unset;
}

.form-footer-email {
    width: 264px;
    height: 40px;
}

.footer-btn {
    margin-left: 24px;
}
.logo{
    padding-right: 120px;
}
.mobile-menu-open-btn{
    display: none;
}
.mobile-menu {
    display: none;
}
.menu-header-navigatione{
    display: flex;
}
.menu-header-navigatione{
    gap: 40px;
}
.page-nav{
    display: flex;
}

.emeil-tel{
    display: flex;
}

/* ==========================MAINE================================== */

.main-title {
    max-width: 496px;
    max-height: 120px;
    font-size: 56px;
    line-height:1.11;
}
.competencies-bloc {
    flex-basis: calc((100% - 3 * 24px) / 2);
}
.competencies-list{

    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        min-width: 100%;
}


   }

@media screen and (min-width: 1201px) {
.container{
    width: 1200px;
    
}
.foorer-box-social{
    display: flex;

}
.sociable-footer-icon{
    margin-left: 120px;
    margin-right: 80px;
}
.svg-costomers-icon {
    flex-basis: calc((100% - 120px) / 6);
    height: 88px;
    width: 104px;

}
.page-header-conteiner{
    padding-top: 24px;
        padding-bottom: 24px;
}
.mobile-menu{
    display: none;
}
.page-nav {
    padding-right: 76px;
}
.address-contact{
    display: flex;
    gap: 40px;
}
.competencies-list {
    display: flex;
    gap: 24px;
}
.competencies-bloc {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.competencies{
    padding-top: 120px;
        padding-bottom: 120px;
}
.skils-box {
    padding-bottom: 120px;
}
/* =======================team */
.social-list-item {
    gap: 24px;
}
/* =======ADD */

}

/* ==========================MAINE================================== */





.list{
    list-style: none;
    padding-left: 0;
} 



/* ==================================================HEADER================================== */
.menu-link {
    position: relative;
    padding: 24px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color var(--transition-duration-and-funk);

}
.menu-link:focus {
    color: #404bbf;
}

.menu-link:hover {
    color: var(--accent-color);
}
.head-menu-title {
    color: #404bbf;
}

.head-menu-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    width: 100%;


}
.page-header-conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow var(--transition-duration-and-funk);
   
}
.header-conteiner{
    border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color var(--transition-duration-and-funk);
}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:focus {
    color: var(--accent-color);
}

.hero-section{

    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.section-head {
    background: #2E2F42;
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 100%;
        padding-top: 112px;
        padding-bottom: 112px;
    border-bottom: 1px solid #e7e9fc;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-image.jpg");
    
}
.main-title {
    display: block;
    font-weight: 700;
    
    letter-spacing: 0.02em;
    
    text-align: center;
    color: var(--icon-color)
}
.open-btn {
    Background-color: var(--checkbox-link-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        cursor: pointer;
        color: var(--icon-color);
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms var(--transition-duration-and-func);
        margin-top: 72px;

}
/* --->===============================================checkbox===================== */
.beckdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-and-funk), visibility var(--transition-duration-and-funk);

}

.modal {
    width: 408px;
    min-height: 576px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform var(--transition-duration-and-funk);

}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-duration-and-funk), border var(--transition-duration-and-funk);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background: #404BBF;
    border: none;
    fill: #ffffff
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-icon {
    transition: fill var(--transition-duration-and-funk);
}
.form-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-logo-titl);
}

.modal-contact-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 .modal-open-form-fieled-wraper,
 .modal-checkbox {
     display: block;
     margin-bottom: 4px;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--texh-decoration-small);

 }

 .modal-open-form-fieled-wraper {
     color: var(--svg-icon-logo);
 }
 .contact-form-text-menu {
     font-weight: 400;
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 0.01em;
     color: #8E8F99;
 }
 .contact-form-massage {
     resize: none;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
     width: 100%;
     height: 120px;
     border: 1px solid rgba(46, 47, 66, 0.2);
     border-radius: 4px;
     background-color: transparent;
     outline: transparent;
     padding: 8px 16px;
     transition: border-color var(--transition-duration-and-funk);
 }

 .contact-form-massage:focus {
     border-color: #4D5AE5;
 }

  .modal-form-checkbox {
      margin-bottom: 24px;

  }
  .visually-hidden:checked+.modal-checkbox>.form-modal-checkbox {
      background-color: var(--accent-color);
      border: none;
      fill: var(--checkbox-decoration);
      border-color: var(--accent-color);
  }
  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }
  .form-modal-checkbox {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      fill: transparent;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-checkbox-custom:focus {
      fill: var(--accent-color);
      background-color: var(--accent-color);

  }
  .modal-form-link {
      color: var(--checkbox-link-text-color);
  }

 .contact-form-submit {
     display: block;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     background: #4D5AE5;
     border-radius: 4px;
     min-width: 169px;
     height: 56px;
     color: #FFFFFF;
     margin-left: auto;
     margin-right: auto;
     margin-top: 24px;
     margin-bottom: 24px;
     background: #4D5AE5;
     border: none;
     transition: background-color var(--transition-duration-and-funk);

 }

 .contact-form-submit:hover {
     background: #404BBF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;

 }

 .contact-form-submit:focus {
     background: #404BBF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
 }
 .form-icon-svg {
     display: block;
     position: absolute;
     top: 50%;
     left: 16px;
     transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-icon-svg:checked+.input-user-name {
     fill: #4D5AE5;
 }
 .input-user-name:focus+.form-icon-svg {
     fill: #4D5AE5;
 }

 .input-user-name {
     width: 100%;
     height: 40px;
     background-color: transparent;
     outline: transparent;
     padding-left: 38px;
     outline: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
 }

 .input-user-name:focus {
     border-color: #4D5AE5;
 }
  .contact-form-input-wraper {
      position: relative;
      height: 100%;
      width: 100%;
  }

  .contact-form-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      outline: transparent;

  }
.competencies-list{
    display: flex;
    justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
}


  .contact-form-input-wraper {
      position: relative;
      display: block;
  }


/* =================>SECTION 3===================== */



.competencies {
    padding-top: 96px;
        padding-bottom: 96px;
}



.paragraph-comp {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.competencies-conainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

* .titel-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
}

/* ===================3 section *===================/ */



.big-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42;
}
.competencies-list-skils {
    display: flex;
    gap: 24px;
}




/*  < !--=====================================Team 4=============================--> */

.team-box {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
    margin: 0 auto;
}
.people-img {
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
}


.name-prof {
    padding: 32px 0;
}

.title-teame {
    margin-bottom: 8px;
}

.small-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
text-align: center;
    order: 1;
    flex-grow: 0;
    color: #434455;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 0px;
    margin-top: 8px;
}



.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color var(--transition-duration-and-funk);



}

.social-icon-bg:hover {
    background: var(--accent-color);
}

.social-icon-bg:focus {
    background: var(--accent-color);
}

.social-list-icon {
    fill: var(--icon-color);
}

.people-list {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}


.titel-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* < !--===================================COSTOMERS 5=============--> */

.customers-section {
    padding-bottom: 120px;
    padding-top: 120px;
}


.customers-title {
    line-height: 1.1;
}
.svg-customers-list {
        display: flex;
            flex-wrap: wrap;
            column-gap: 16px;
            row-gap: 72px;
}





.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--svg-icon-logo);
    border: 1px solid #8e8f99;
    border-radius: 4px;
    fill: #8E8F99;
    ;
    transition: border-color var(--transition-duration-and-funk), color var(--transition-duration-and-funk);

}

.customers-link:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
    fill: #404BBF;
}

.customers-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    fill: #404BBF;
}



/*============================= footer===========================*/
.foorer-box{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;
}



.box-logo-footer {
    text-align: center;
}

.link-footer {
font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.white-text {
    max-width: 264px;
    color: #F4F4FD;
}




.tex-footer-p {
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-list-footer {
    gap: 16px;
}

.footer-br:hover {
    background: #31D0AA;
}

.footer-br:focus {
    background: #31D0AA;
}
.white-logo {
    color: #F4F4FD;
}

.footer-container-titl {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}





.form-email-footer {
    width: 100%;
        height: 40px;
        border: 1px solid #FFFFFF;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
}

.footer-btn {
    padding-left: 24px;
    padding-right: 14px;
    height: 40px;
    width: 165px;margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    
}
.footer-form-icon {
    margin-left: 16px;
}
/* ===========================flexbox-default=============== */




/* ============================containers======================== */


/* ======================buttons=================== */

/* }

.btn-filtr{
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    color: #4D5AE5;
    background: #F4F4FD;
    transition: color var(--transition-duration-and-funk), background-color var(--transition-duration-and-funk), border-color var(--transition-duration-and-funk), box-shadow var(--transition-duration-and-funk);
    
}
.btn-filtr:hover{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filtr:hover{
border: 1px solid transparent;
color: #FFFFFF;
background:var(--accent-color);
}
.btn-filtr:focus{
    border: 1px solid transparent;
    color: #FFFFFF;
        background:var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
}

.modal-btm:hover{
    background:var(--accent-color);
}
.modal-btm:focus{
    background:var(--accent-color);
}
.modal-btm{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background: #4D5AE5;
    display: block;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition-duration-and-funk);
}
.modal-btm:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
}
.modal-btm:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15); */

/*============================= header ==========================*/




/* 





.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    
}







/* =========================header-flexbox=================*/
/* 

nav{
    align-items: center;
}

.menu{
display: flex;
gap: 40px
}





header{
    padding-top: 25.5px;
    padding-bottom: 21.5px;
    border-bottom: 1px solid #e7e9fc;
}  */
/*==================== titel========================= */

/* 
.main-title{
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #FFFFFF;
    text-align: center; 
}*/
/* flexbox ======================title =========================================*/
/*  */


/*=================================== competencies================================== */

/* 

.competencies{
padding: 120px 0;
}


.competencies-conainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}




 */

/* ==========================skills ========================*/
/* 
.skils-list{
    flex-basis: calc((100% - 48px) / 3);
}
*/
/*============================= Team========================== */
/* 


}
.social-app{
    width: 10em;
        margin: 1em auto;
        background: silver;
        border-radius: 50%;
        background-color: #404bbf;
}





 */
/* ============================COSTOMERS ===============================*/

/* 



*/
 /*================================== MODAL-FORM-CONTENT */
 /* 
 
 



 .form-text-title{
    margin-bottom: 16px;
 }



.icon-checkbox-custom:focus {
    fill: var(--accent-color);
    background-color: var(--accent-color);

}


 */

/*============================= footer===========================*/
/* 













.orm-footer-email{
    margin-right: 24px;
}



 */
/* =======================PORTFOLIO============================ */

/* ===========================MAIN ================================*/


/* .filter-btn{
padding: 96px 0 120px;
}
.btn-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}
.project-portfolio{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;


}
.list-item-portfolio{
    transition: box-shadow var(--transition-duration-and-funk);
}
.list-item-portfolio:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
      
        
}
.list-item-portfolio{
    width: calc((100% - 48px)/3);
    
}
.emloyees-list-img-portfolio{
    position: relative;
    overflow: hidden;
    


}
.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
    transform: translateY(0%)
}
.overlay{
    position: absolute;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    overflow: auto;
    background-color:#4D5AE5;;
    padding: 40px 32px;
    transform: translateY(100%);
    color: #F4F4FD;
    transition: transform var(--transition-duration-and-funk);

}
.item-box{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.link-portfolio{
    display: block;
    transition:box-shadow var(--transition-duration-and-funk);
}
.link-portfolio:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


 */